#start 
  %h2 Welcome to the qwikileaks cable information experience. Search for your more (un)favorite politician, or look at our featured ones: 
  .entry
    <a href="#!/Berlusconi">Berlusconi</a>
  .entry
    <a href="#!/Mubarak">Mubarak</a>
  .entry
    <a href="#!/Putin">Putin</a>
  .entry
    <a href="#!/Chavez">Chavez</a>
  .entry
    <a href="#!/Gadaffi">Gaddafi</a>
  .entry
    <a href="#!/Castro">Castro</a>
  .entry
    <a href="#!/Jong-Il">Jong-Il</a>
  .entry
    <a href="#!/Sarkozy">Sarkozy</a>
