  <script type="text/javascript" charset="utf-8">
      app.run();
  </script>

<div style="width: 800px; margin-left: auto; margin-right: auto;">
  <div style="height: 60px;"><h1 style="position: absolute; top: -20px;"><a href="#!">qwikileaks.net</a></h1></div>
  <div style="position: absolute; top: 15px; left: 550px;">
    <form action="#!/search" method="post">
      <input type="text" style="font-size: 20px;" id="search" name="term"/> <button id="sbutton">search</button>
    </form>  
    <div id="results"></div>
  </div>
  <%= haml :_start %>
  <div id="spinner" style="display: none;">Loading cables...</div>
  <div style="display: none;">
    <div id="searchcontrol">Loading</div> 
  </div>
  <canvas id="photoCanvas" width="800" height="100">
  <p>Your browser doesn't support canvas.</p>
  </canvas>
  <div id="images"> 
	<div class="images_slide">Loading...</div>
	<div class="images_slide">Loading...</div>
  </div>
  <div id="abstract">
    <div class="sentence">Loading...</div>
    <div class="sentence">Loading...</div>
  </div>
  <center>
    <iframe onload="if(loaded){ timer = setTimeout('consume()', 9000); }" id="voice"></iframe>
  </center>
</div>
