<html>
<head>
<title>Qwikileaks.net </title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script src="/js/bridge.js"></script>
<script src="/js/spinners.js"></script>
<script src="/js/sammy-latest.min.js"></script>
<script src="http://www.google.com/jsapi?key=ABQIAAAAWj2kngpuqGdR4q48LdotXhQ5V9kCep32UtZBmndhORriPvZ5LhT4KSwTzUXOsXv1hFdcjmOw9L98Ng" " type="text/javascript"></script> 
<script src="/js/qwikileaks.js?v=4" type="text/javascript"></script> 
<script src="/js/fqwiki.js?v=6" type="text/javascript"></script> 
<link href='http://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
<style type="text/css">
body {
	background: white;
	color: black;
	font-family: Helvetica, sans-serif;
}

h1 {
  font-weight: bold; 
  font-size: 3em;
}

h1 a:link {
  text-decoration: none;
  color: black;
}

h1 a:visited {
  text-decoration: none;
  color: black;
}

h1:first-letter { 
  text-transform : uppercase;
  font-size : 110%; 
}

.h2
button {
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    background: #eee;
    border-bottom: 2px solid #888;
    border-right: 2px solid #888;
    border-top: 1px solid #bbb;
    border-left: 1px solid #bbb;
    color: #333;
    height: 40px;
    font-weight: bold;
    font-size: 16px;
}

#images {
	width: 800px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	border: 1px solid white;
	position: relative;
	background: white;
}

#search {
	height: 40px;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 300px;
}

#sbutton {
	position: absolute;
	top: 0px;
	left: 310px;
}

#results {
	width: 298px;
	background: white;
	color: black;
	z-index: 1000000000;
	position: absolute;
	border: 1px solid #999;
	top: 40px;
	left: 0px;
}

#results div:hover {
	background: blue;
	cursor: pointer;
	color: white;
}

#abstract {
	width: 800px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
	overflow: hidden;
	text-align: center;
	/*background: #333; */
	/*text-shadow: white 0px 0px 2px; */
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.sentence {
	margin-top: 30px;
}

#voice {
	width: 320px;
	height: 80px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 600px;
	border: 0px solid black;
//	display: none;
}

.images_slide {
	width: 800px;
	height: 600px;
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 800px;
}

.img {
	position: relative;
	float: right;
	clear: both;
	border: 5px solid white;
	z-index: 10000;
}

.img div {
	position: absolute;
	text-align: center;
	background: rgba(0,0,0,0.4);
	top: 0px;
	left: 0px;
	width: 100%;
	padding: 5px;
	font-size: 10px;
	font-weight: bold;
	-webkit-box-sizing: border-box;
}
 
.entry {
  float:left;
  width: 100px;
  height: 100px;
  vertical-align: text-bottom;
}

</style>
</head>
<body>

 <%= yield %> 
 
</body>
</html>
